html, body 
{
	width: 100%;
	height: 100%;
}

body 
{
	font-family: "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif; 
	background: #fff;
	overflow: hidden; 
	color: #333;
	text-align: left;
	margin: 0;
	padding: 60px 0 0 0;
}

#header 
{
    width: 100%;
	min-width: 800px;
	height: 60px;
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff url(headerbg.gif) top left repeat-x;
	line-height: 1;
}

iframe
{
	color: #666;
	width: 100%;
	height: 100%;
	z-index: 10;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-bottom: 60px;
}

h4
{
	color: #999;
	font-size: 44px;
	border-color: #ccc;
	border-style: dotted; 
	border-width: 1px 0 0;
	margin: 10px 10px 0 10px;
}

h5
{
	font-size: 12px;
	text-decoration: none;
	float: right;
	margin-right: 10px;
	margin-top: -28px;
}

h5 a
{
	color: #6992ee;
	text-decoration: none; 
	margin: 0 0 0 36px;
	cursor: pointer;
}

