html
{
	height: 100%;
	background: white url(degree.gif) no-repeat right bottom;
}

/*
firefox degree hack works for FF3 and hides 
for FF2 this also works in IE 7 not IE 6, so IE 7 
uses conditional comment to fix
*/

html, x:-moz-any-link
{
	background: white;
}

#degree, x:-moz-any-link
{
	background: white url(degree.gif) no-repeat right bottom;
	width:365px;
	height:365px;
	bottom:0;
	right:0;
	position: fixed;
	z-index: -1;
}

#content, x:-moz-any-link
{
	z-index: 0;
}
/*end firefox degree hack*/

body
{ 
	font-family: "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif; 
	margin: 112px 135px 200px;
}

h1,h2,h3,h4 
{
	font-family: "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif; 
	font-size: 44px;
	line-height: 44px;
}

h1
{
	position: absolute; 
	top: 16px; 
	left: 25px; 
	color: black; 
	margin: 0; 
	padding: 0 0 0 110px; 
	background-image: url(logo.gif); 
	background-repeat: no-repeat; 
	background-position: left 3px;
}

h2 
{
	position: absolute; 
	top: 64px; 
	left: 135px; 
	color: #333;
	margin: 0; 
	padding: 0;
}

h3 
{
	color: #666;
	top:44px;
	margin: 0;
	padding: 0; 
}

h4
{
	color: #999; 
	margin: 24px 0 -40px; 
	padding: 0;
	padding-top:3px;
	border-color: #ccc; 
	border-style: dotted; 
	border-width: 1px 0 0;
}

h5
{
	font-size: 12px; 
	text-decoration: none;
	margin: 0 0 0 80px;
}

h6
{
	color: #666;
	margin: 40px 0 -40px; 
	padding-bottom: 20px;
	font-size: 40px;
}

ul,ol
{
	font-size: 12px; 
	margin: 0 0 0 80px; 
	padding: 3px 0 0 10px;
}

li 
{
	margin: 0 0 0 10px; 
	padding: 0;
}

h5 a
{
	color: #6992ee;
	text-decoration: none; 
	float: right; 
	margin: 0 0 0 36px;
	cursor: pointer;
}

a:hover
{ 
	color: #ffde05;
	cursor: pointer;
}

p
{
	font-size: 12px;
	color: #666;
}

table
{
	padding: 0px;
	margin: 30px 0 20px 0;
}

td 
{
	width: 50px;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
	margin: 0;
	padding: 5px 3px;
}

td a
{
	color: #6992ee;
	cursor: pointer;
	text-decoration: none;
}

td.desc 
{
	font-weight: bold;
	width: 100%;
}

td.title
{
	font-size: 24px;
	line-height: 32px;
	color: #999;
	padding: 10px 3px;
	margin: 0;
}

tr.light td, tr.dark td
{
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

tr.light
{
	background: #f8f8f8;
}

tr.dark
{
	background: #eee;
}

.more
{
	padding-top:20px;
	font-size: 12px;
}

.more ul, .more ol
{
	list-style-type: none;
	margin-left: 0px;
}

.more h5, .more h5 a
{
	float:none;
	margin-left: 0px;
	display: inline;
}

.more h5 a:hover, .more a:hover
{
	text-decoration: underline;
}

.more a
{
	color: black;
	text-decoration: none;
}




